#s-70263960-0986-4fa4-a076-ba5760203dae > #backgroundBox {
  position: absolute;
}
#s-70263960-0986-4fa4-a076-ba5760203dae > #alignmentBox {
  position: relative;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Rectangle_3 {
  position: absolute;
  width: 1325.6666666666667px;
  min-height: 121.02608413362026px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #D6E5DA;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Paragraph_1 span {
  color: #D93E3E;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 54.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #D93E3E;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 54.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Rectangle_2 {
  position: absolute;
  width: 1366.0px;
  min-height: 72.41884734789869px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #F6F7F8;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Image_2 {
  position: absolute;
  width: 176.75000000000074px;
  height: 175.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Table_1 {
  position: absolute;
  width: 946.0000000000003px;
  height: 159.66666666666674px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Table_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Table_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Text_cell_5 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Text_cell_5 {
  width: 100.0%;
  height: 25.0%;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Text_cell_5 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Text_cell_5 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Text_cell_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Text_cell_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Text_cell_5 span#rtr-s-Text_cell_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Text_cell_6 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Text_cell_6 {
  width: 100.0%;
  height: 25.0%;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Text_cell_6 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Text_cell_6 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Text_cell_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Text_cell_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Text_cell_6 span#rtr-s-Text_cell_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Text_cell_7 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Text_cell_7 {
  width: 100.0%;
  height: 25.0%;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Text_cell_7 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Text_cell_7 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Text_cell_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Text_cell_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Text_cell_7 span#rtr-s-Text_cell_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Text_cell_10 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Text_cell_10 {
  width: 100.0%;
  height: 25.0%;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Text_cell_10 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Text_cell_10 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Text_cell_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Text_cell_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Text_cell_10 span#rtr-s-Text_cell_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_1 {
  position: absolute;
  width: 150.0000000000001px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #CFFFCF;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_1 span#rtr-s-Button_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_2 {
  position: absolute;
  width: 150.00000000000023px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #E2202C;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_3 {
  position: absolute;
  width: 150.0000000000001px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: #CFFFCF;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_3 span#rtr-s-Button_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_4 {
  position: absolute;
  width: 150.00000000000023px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_4 > .backgroundLayer > .colorLayer {
  background-color: #E2202C;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_4 span#rtr-s-Button_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_5 {
  position: absolute;
  width: 150.0000000000001px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_5 > .backgroundLayer > .colorLayer {
  background-color: #CFFFCF;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_5 span#rtr-s-Button_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_6 {
  position: absolute;
  width: 150.00000000000023px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_6 > .backgroundLayer > .colorLayer {
  background-color: #E2202C;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_6 span#rtr-s-Button_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_7 {
  position: absolute;
  width: 150.0000000000001px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_7 > .backgroundLayer > .colorLayer {
  background-color: #CFFFCF;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_7 span#rtr-s-Button_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_8 {
  position: absolute;
  width: 150.00000000000023px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_8 > .backgroundLayer > .colorLayer {
  background-color: #E2202C;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_8 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_8 span#rtr-s-Button_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_9 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_9 > .backgroundLayer > .colorLayer {
  background-color: #1EAAF1;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_9 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_9 span#rtr-s-Button_9_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Input_17 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Input_17 input::-moz-placeholder {
  color: #82888C;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Input_17 input:-moz-placeholder {
  color: #82888C;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Input_17 input:-ms-input-placeholder {
  color: #82888C;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Input_17 {
  position: absolute;
  width: 247.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Input_17 .valign {
  vertical-align: middle;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Input_17 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Input_17 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Input_17 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Input_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 32px;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Path_6 {
  position: absolute;
  width: 13.0px;
  height: 13.0px;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_10 {
  position: absolute;
  width: 94.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_10 > .backgroundLayer > .colorLayer {
  background-color: #434343;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_10 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_10 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Button_10 span#rtr-s-Button_10_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Paragraph_4 {
  position: absolute;
  width: 69.015625px;
  min-height: 53.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Paragraph_4 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #shapewrapper-s-Ellipse_6 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #shapewrapper-s-Ellipse_6 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #shapewrapper-s-Ellipse_6 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Ellipse_6 {
  width: 58.0px;
  height: 58.00000000000003px;
  min-height: 58.00000000000003px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 4.0px;
  stroke: #000000;
  cursor: pointer;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #shapewrapper-s-Ellipse_6 > .backgroundLayer > .colorLayer {
  background-color: rgba(255,255,255,0.0);
}
#s-70263960-0986-4fa4-a076-ba5760203dae #shapewrapper-s-Ellipse_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #shapewrapper-s-Ellipse_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-70263960-0986-4fa4-a076-ba5760203dae #s-Path_91 {
  position: absolute;
  width: 8.444799423217773px;
  height: 14.727083206176758px;
  cursor: pointer;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-70263960-0986-4fa4-a076-ba5760203dae > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}